<% provide(:title, 'About Us') %>
    <h1>Contact</h1>
    <p>
      <div class=text><a href=kmandreza@gmail.com>Phone: 415 690-3105</a></div>
      <div class=text><a href=kmandreza@gmail.com>Email: kmandreza@gmail.com</a></div>
      <div class=text>Address:568 Howard St.; San Francisco, CA 94108</div>
    </p>
